*{
    margin: 0;
    padding: 0;
}
.container{

}
header{
    text-align: center;
    background-color: #F8AECD;
    box-shadow: 5px 10px #F8AECD;
}
header img{
    height: 130px;

}
.vakken{
    grid-column-start: 3;
}
.deSchool{
background-image: linear-gradient(to bottom left,#03357C, #1c4989);
    color: #F8AECD;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.schoolinfo{
    grid-column-start: 3;
    margin-top: 50px;
    margin-left: 40px;
    padding: 10px;
    height: fit-content;
    border-left: 3px solid #F8AECD;

}
.jim{
    height: 500px;
    grid-column-start: 2;
}